@import "general.css";
@import "topnavbar.css";
@import "constants.css";



/*-----------  INTRO  -----------*/

.landing{
    background-color: var(--beige1);
    margin: 0;
    padding: 0;
    width: 100%;
}

.intro{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 80px;
}


/*------------------------------*/


.intro1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
}

.intro2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
    margin-top: 50px;
    margin-right: 80px;
}


/*------------------------------*/


.intro1contents{
    text-align: left;
    margin: 100px 0px;
}

.intro2contents{
    text-align: left;
    margin: 50px 0px;
}


/*------------------------------*/


.name1{
    font-size: 100px;
    font-family: var(--CGaramontReg);
}

.name2{
    font-size: 120px;
    font-family: var(--CGaramontItalic);
    margin-bottom: 10px;
}

.course{
    font-size: 33px;
    font-family: var(--CGaramontSBoldIta);
    color: var(--darkgreen);
    margin-bottom: 15px;
}

.desc{
    font-size: 20px;
    font-family: var(--OpenSauceSBold);
}


/*------------------------------*/


.skills{
    font-size: 50px;
    text-align: center;
    font-family: var(--CGaramontSBoldIta);
}

.leaf-border{
    width: 250px;
    margin: 10px 0px 20px 30px;
}

.skillsList{
    font-size: 20px;
    font-family: var(--OpenSauceSBold);
    margin-left: 30px;
}

.skillsList li{     /*gap between each bullet point*/
    margin-bottom: 10px;
}







/*-----------  EDUCATION  -----------*/
.education{
    background-color: var(--olivegreen);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.educontents{
    margin: 110px 0px;
    width: 55vw;
}


/*------------------------------*/


.title{
    color: var(--beige1);
    font-size: 80px;
    font-family: var(--CGaramontReg);
}

.light-deco-line{
    margin-bottom: 5px;
}

.educontent-br{
    content: "";
    height: 50px;
}


/*------------------------------*/


.school{
    display: flex;
    flex-direction: row;
}

.leaf-bullet{
    height: 80px;
    margin-right: 40px;
}

.school-info{
    width: 100vw;
}


/*------------------------------*/


.bullet-title{
    color: var(--beige1);
    font-family: var(--CGaramontLightItalic);
    font-size: 30px;
}

.bullet, .awards {
    color: var(--beige2);
    font-family: var(--OpenSauceSBold);
    font-size: 14px;
}

.awards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}

.award-bullet{
    text-align: left;
}

.award-date{
    text-align: right;
}









/*-----------  DOCS  -----------*/
.docs{
    background-color: var(--beige2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.docscontents{
    align-items: start;
    width: 30vw;
    margin: 70px 0px;
}

.docstitle{
    color: var(--black);
    font-family: var(--CGaramontSBoldIta);
    font-size: 30px;
}

.links{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.docsbutton{
    color: var(--beige2);
    background-color: var(--black);
    font-family: var(--OpenSauceLight);
    font-size: 12px;

    text-decoration: none;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--beige2);
    padding: 10px;

    transition: all 0.3s ease;
}

.docsbutton:hover{
    background-color: var(--beige2);
    color: var(--black);
    border-color: var(--black);
}