@import "constants.css";

.topnavbaritems{
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.topnavbutton{
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding: 20;
    margin-top: 50px;
    margin-bottom: 15px;
    color: var(--black);
    font-family: var(--OpenSauceSBold);
    font-size: 12px;
    cursor: pointer;
}

.topnavbutton:hover{
    color: var(--lightgreen);
    transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
}